.account__nav {
  align-items: center;
  background-color: var(--secondary-color);
  box-shadow: 0 0 0.5rem black;
  display: flex;
  justify-content: space-between;
  height: 10%;
}

.account__welcome{
  font-size: 1.5rem;
  font-weight: 600;
  margin: 2rem;
}

.account__logo{
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 1rem;
  -o-object-fit: contain;
     object-fit: contain;
  padding: 0.25rem;
  width: 15rem;
}

.account__button{
  background-image: linear-gradient(to top left, rgb(221, 111, 111), rgb(230, 53, 53));
  border-radius: 15rem;
  border-style: none;
  margin: 2rem;
  padding: 1rem;
  cursor: pointer;
}

.account__button :where(p){
  color: white;
  font-weight: 600;
  padding: 0.1rem;
}

.account__details{
  align-items: center;
  display: flex;
  justify-content: space-between;
  left: 50%;
  max-width: 100rem;
  position: relative;
  transform: translate(-50%);
}

.account__text{
  margin: 1.5rem;
}

.account__text-balance {
  font-size: 3rem;
  font-weight: 400;
  line-height: 4rem;
}

.account__text-date {
  color: rgb(88, 88, 88);
  font-size: 1.2rem;
}

.account__balance{
  font-size: 3.5rem;
  font-weight: 600;
  margin: 2rem 1.5rem;
}

.account__grid-container{
  left: 50%;
  max-width: 100rem;
  position: relative;
  transform: translate(-50%);
}

.account__movements {
  list-style-type: none;
  background-color: white;
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
  height: 100%;
}

.account__scroll-container{
  max-height: 55rem;
  min-height: 45rem;
  overflow-y: hidden;
  overflow-x: hidden;
  border-radius: 2rem;
}

.account__scroll-container:hover{
  overflow-y: scroll;
  border-radius: 2rem;
}

.account__scroll-container::-webkit-scrollbar{
  width: 0.5rem;
  position: absolute;
}

.account__scroll-container::-webkit-scrollbar-track{
  background-color: rgb(219, 218, 218);  
  border-radius: 1rem;
}

.account__scroll-container::-webkit-scrollbar-thumb{
  background-color: rgb(197, 189, 189);
  border-radius: 1rem;
}

.account__movement {
  align-items: center;
  border-bottom: rgba(196, 194, 194, 0.5) 0.1rem solid;
  background-color: white;
  display: flex;
  padding: 3rem 3rem;
  gap: 2rem;
}

.account__movement:first-child{
  border-bottom: none;
}

.account__movement-withdrawal {
  background-image: linear-gradient(to top left,rgb(255, 3, 3), rgb(212, 116, 116));
  border-radius: 0.7rem;
  color: white;
  font-size: 1.1rem;
  font-weight: 600;
  letter-spacing: 0.05rem;
  padding: 0 1rem;
}

.account__movement-deposit {
  background-image: linear-gradient(to top left,rgb(93, 187, 124), rgb(184, 229, 133));
  border-radius: 0.7rem;
  color: white;
  font-size: 1.1rem;
  font-weight: 600;
  letter-spacing: 0.05rem;
  padding: 0 1rem;
}

.account__movement-date {
  font-size: 1.1rem;
  font-weight: 550;
  flex-grow: 1;
}

.account__movement-amount {
  font-size: 2rem;
  font-weight: 600;
}

.account__generic-grid{
  display: grid;
  grid-template-rows: auto 3rem auto;
  justify-items: start;
  justify-content: center;
  margin-right: 1.5rem;
  min-height: 15rem;
}

.account__transfer-money{
  background-image: linear-gradient(to top left, #ffb003, #ffcb03);
  border-radius: 2rem;
}

.account__transfer-money p:nth-of-type(1){
  grid-column: 1/4;
  grid-row: 1/2;
  font-size: 1.8rem;
  font-weight: 500;
  justify-self: center;
  align-self: center;
}

.account__transfer-to {
  grid-column: 1/2;
  grid-row: 2/3;
} 

.account__transfer-money p:nth-of-type(2){
  grid-column: 1/2;
  grid-row: 3/4;
  font-size: 1.2rem;
  font-weight: 600;
  justify-self: center;
}

.account__amount {
  grid-column: 2/3;
  grid-row: 2/3;
}

.account__transfer-money p:nth-of-type(3){
  grid-column: 2/3;
  grid-row: 3/4;
  font-size: 1.2rem;
  font-weight: 600;
  justify-self: center;
}

.account__transfer-money button{
  grid-column: 3/4;
  grid-row: 2/3;
}


.account__request-loan {
  background-image: linear-gradient(to top left, #39b385, #9be15d);
  border-radius: 2rem;
}

.account__request-loan p:nth-of-type(1){
  grid-column: 1/4;
  grid-row: 1/2;
  font-size: 1.8rem;
  font-weight: 500;
  justify-self: center;
  align-self: center;
}

.account__loan-amount {
  grid-column: 1/2;
  grid-row: 2/3;
} 

.account__request-loan p:nth-of-type(2){
  grid-column: 1/2;
  grid-row: 3/4;
  font-size: 1.2rem;
  font-weight: 600;
  justify-self: center;
}

.account__request-loan button{
  grid-column: 2/3;
  grid-row: 2/3;
}

.account__close-account{
  background-image: linear-gradient(to top left, #e52a5a, #ff585f);
  border-radius: 2rem;
}

.account__close-account p:nth-of-type(1){
  grid-column: 1/4;
  grid-row: 1/2;
  font-size: 1.8rem;
  font-weight: 500;
  justify-self: center;
  align-self: center;
}

.account__user {
  grid-column: 1/2;
  grid-row: 2/3;
} 

.account__close-account p:nth-of-type(2){
  grid-column: 1/2;
  grid-row: 3/4;
  font-size: 1.2rem;
  font-weight: 600;
  justify-self: center;
}

.account__pin {
  grid-column: 2/3;
  grid-row: 2/3;
}

.account__close-account p:nth-of-type(3){
  grid-column: 2/3;
  grid-row: 3/4;
  font-size: 1.2rem;
  font-weight: 600;
  justify-self: center;
}

.account__close-account button{
  grid-column: 3/4;
  grid-row: 2/3;
}

.account__grid-button {
  display: flex;
  align-items: center;
  outline: none;
  border: none;
  background-color: white;
  cursor: pointer;
  border-radius: 0.7rem;
  margin-right: 1rem; 
}

.account__grid-button:hover{
  background-color: var(--secondary-color);
}

.account__grid-button-image{
  -o-object-fit: contain;
     object-fit: contain;
  width: 3rem;
  padding: 0.4rem;
}

.account__input{
  border: none;
  background-color: rgba(255, 255, 255, 0.8);
  font-family: inherit;
  text-align: center;
  padding: 1rem;
  font-size: 1.2rem;
  width: 80%;
  margin: 0 1rem;
  border-radius: 0.7rem;
}

.account__grid-container {
  margin: 2rem 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;
  height: clamp(550px, 80vh, 650px);
}

.account__scroll-container {
  grid-column: 1/2;
  grid-row: 1/4;
}

.accounts__transfer-money {
  grid-column: 2/3;
  grid-row: 1/2;
}

.account__request-loan{
  grid-column: 2/3;
  grid-row: 2/3;
}

.account__close-account{
  grid-column: 2/3;
  grid-row: 3/4;
}

.account__footer { 
  max-width: 100rem;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  gap: 1rem 3rem;
  margin: 2rem 1rem;
  flex-wrap: wrap;
  align-content: center;
}

.account__sort{
  width: 3.5rem;
  padding: 0.5rem;
  transform: rotate(90deg);
}

.account__sort-button {
  display: flex;
  align-items: center;
  background-color: white;
  border: none;
  border-radius: 4rem;
  padding: 0.5rem;
  cursor: pointer;
}

.account__sort-text {
  padding: 0.5rem;
  font-family: inherit;
  font-weight: 600;
}

.account__in, .account__out, .account__interest{
  font-weight: 400;
  font-size: 1.25rem;
  word-spacing: 0.85rem;
}

.account__in-amount, .account__out-amount, .account__interest-amount{
  font-size: 2rem;
}

.account__in-amount, .account__interest-amount{
  color: rgb(83, 199, 83);
}

.account__out-amount {
  color: rgb(214, 99, 99);
}

.account__logout-text {
  flex-grow: 11;
  text-align: end;
  font-size: 1.2rem;
  margin: 0 1rem;
}

.account__logout-time{
  font-weight: 600;
}